<script type="text/ng-template" id="deleteCategoryModal.html">

<div class="modal-body">
<span style="font-weight:bold;font-size:16px">Confirmation</span>
<button type="button" class="close"  aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
<hr style="border-top:1px solid #e5e5e5;margin-top:10px;margin-bottom:10px"/>
<p>Are you sure to delete this Category?</p>
</div>
	<div class="modal-footer">
	<button type="button" class="btn btn-danger"
	ng-click="deleteCategory()">Yes</button>
	<button type="button" class="btn btn-primary"
	ng-click="close()">No</button>
	</div>
</script>




