<script type="text/ng-template" id="openAddressModal.html">
   <div class="modal-header">
	   <span style="font-weight:bold;font-size:15px">Addresses</span><span>  ({{user.first_name+' '+((user.last_name)?user.last_name:'')}})</span>
      <button type="button" class="close"  aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
      
   </div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-6 col-sm-12" ng-repeat="(key,address) in user.addresses track by $index">
				<div class="portlet green-meadow box">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-cogs"></i><span style="padding-left:10px">Address {{$index+1}}</span>
						</div>
					</div>
				<div class="portlet-body">
					<div class="row static-info">
						<div class="col-md-12 value">
							<span>{{address.name}}</span> <br ng-if="address.name">
							<span>{{address.address}}</span> <br ng-if="address.address">
							<span>{{address.landmark}}</span> <br ng-if="address.landmark">
							<span>{{address.city}}</span> <br ng-if="address.city">
							<span>{{address.state}}</span> <br ng-if="address.state">
							<span>{{address.phone}}</span> <br ng-if="address.phone">
							<span>{{address.pincode}}</span> <br ng-if="address.pincode">
						</div>
					</div>
				</div>
				</div>
			</div>
			<p style="text-align:center;font-weight:bold" ng-if="!user.addresses">There are No Addresses to show.</p>
		</div>
	</div>
		<div class="modal-footer">

		</div>
</script>